@model IEnumerable<Lab03.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<h2>Danh sách các cuốn sách</h2>
<form action="" method="post" class="form-inline" role="form">
    <div class="form-group">
        <select name="AuthorId" class="form-control" asp-items="@ViewBag.authors">
            <option value="">Chọn tác giả</option>
        </select>
        <select name="GenreId" class="form-control" asp-items="@ViewBag.genres">
            <option value="">Chọn thể loại</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
</form>