@{
    ViewData["Title"] = "Home Page";
    
}

<partial name="Banner" />
<hr />
<button id="loadAjax" class="btn btn-sm btn-primary">Click load book từ partialResult</button>
<hr />
<div id="data-from-ajax" class="row">Loading data...</div>
<hr />
@section Scripts{
    <script>
        $('#loadAjax').click(function () {
            $('#data-from-ajax').load("/Book/PopularBook");
        })
    </script>
}
<hr/>
<h2>PopularBook  Load từ BookComponent</h2>
